.contenedor{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /*autofit: Rellena todo el contenedor con las columnas disponibkes */
    /*autofill: Las columnas utilizan unicamente el tamaño que necesitan y si sobra espacio, lo respeta*/
}